In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [53]:
import pandas as pd
import numpy as np

In [54]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/데분스터디/titanic.csv')

In [55]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [56]:
# 결측치 보기
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [57]:
# Cabin 결측치 너무 많음->컬럼 삭제
df = df.drop(labels='Cabin',axis=1)

In [58]:
df.fillna({'Age':int(df['Age'].mean())},inplace=True)

- 추가로 고려: 연령 결측 보완시 연령과 관련된 성별, 티켓 등급을 이용해서 추정하는 방법

In [59]:
df.fillna({'Embarked':df['Embarked'].mode()[0]},inplace=True)

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [61]:
df.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [62]:
df.shape

(891, 11)

In [63]:
# 이름, 고객번호 관련 없음 -> 삭제
df = df.drop(labels='Name',axis=1)

In [64]:
df.drop(labels='PassengerId', axis=1, inplace=True)

In [65]:
df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,0,3,male,22.0,1,0,A/5 21171,7.2500,S
1,1,1,female,38.0,1,0,PC 17599,71.2833,C
2,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,1,1,female,35.0,1,0,113803,53.1000,S
4,0,3,male,35.0,0,0,373450,8.0500,S

In [18]:
# pd.unique(df['Ticket'])

In [72]:
# 티켓종류 너무 많음, 경향성 X, 불필요 -> 삭제
print("Before", df.shape)
df.drop(["Ticket"], axis = 1, inplace=True)
print("After", df.shape)

Before (891, 10)
After (891, 9)

In [76]:
# 성별 데이터 숫자로 바꾸기
df['Sex'] = df['Sex'].map({'male':0, 'female':1})

In [74]:
# 승선지(Embarked) 문자 -> 숫자 변환
embarked_mapping = {"S": 0, "C": 1, "Q": 2}
df['Embarked'] = df['Embarked'].map(embarked_mapping).astype(int)

df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare  Embarked AgeBand
0         0       3    male  22.0      1      0   7.2500         0       1
1         1       1  female  38.0      1      0  71.2833         1       2
2         1       3  female  26.0      0      0   7.9250         0       1
3         1       1  female  35.0      1      0  53.1000         0       2
4         0       3    male  35.0      0      0   8.0500         0       2

In [78]:
# 타겟 데이터 따로 저장하기
target = df['Survived']

df.drop(labels='Survived',axis=1, inplace=True)

In [79]:
df.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked AgeBand
0       3    0  22.0      1      0   7.2500         0       1
1       1    1  38.0      1      0  71.2833         1       2
2       3    1  26.0      0      0   7.9250         0       1
3       1    1  35.0      1      0  53.1000         0       2
4       3    0  35.0      0      0   8.0500         0       2

In [22]:
df.shape

(891, 7)

In [36]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [80]:
# 훈련 데이터, 테스트 데이터 분리하기
train_input, test_input, train_target, test_target = train_test_split(df, target, random_state=42)

In [81]:
# 로지스틱 회귀 모델 사용하기
lr = LogisticRegression(max_iter=1000)
lr.fit(train_input, train_target)

LogisticRegression(max_iter=1000)

In [82]:
# 정규화(스케일링) 이전 정확도
print(lr.score(train_input, train_target))
print(lr.score(test_input, test_target))

0.7964071856287425
0.7982062780269058

In [83]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
train_scaled = scaler.fit_transform(train_input)
test_scaled = scaler.transform(test_input)

In [84]:
# 스케일링 이후 정확도
lr = LogisticRegression(C=20, max_iter=1000)
lr.fit(train_scaled, train_target)
print(lr.score(train_scaled, train_target))
print(lr.score(test_scaled, test_target))

0.7994011976047904
0.7982062780269058

### 추가 고려사항

In [68]:
# 연령대별 생존율
df["AgeBand"] = pd.cut(df["Age"], 5) # 훈련 자료의 연령을 5개 범주로 나눔
df[["AgeBand", "Survived"]].groupby(["AgeBand"], as_index = False).mean().sort_values(by = "AgeBand", ascending = True)

            AgeBand  Survived
0    (0.34, 16.336]  0.550000
1  (16.336, 32.252]  0.344168
2  (32.252, 48.168]  0.404255
3  (48.168, 64.084]  0.434783
4    (64.084, 80.0]  0.090909

- (): 미만, 초과
- []: 이하, 이상
- 16세 이하  승객의 생존율이 55%로 가장 높고, 64세 초과 승객의 생존율이 약 9%

- 연령대를 자료에 추가하고 숫자로 변환

In [77]:
df["AgeBand"] = pd.cut(df["Age"], bins = 5, labels = [0, 1, 2, 3, 4])
df.loc[(df["Age"] <= 16), "AgeBand"] = 0
df.loc[(df["Age"] > 16) & (df["Age"] <= 32), "AgeBand"] = 1
df.loc[(df["Age"] > 32) & (df["Age"] <= 48), "AgeBand"] = 2
df.loc[(df["Age"] > 48) & (df["Age"] <= 64), "AgeBand"] = 3
df.loc[(df["Age"] > 64), "AgeBand"] = 4
# 훈련 자료 기준으로 연령대를 나눔

df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked AgeBand
0         0       3    0  22.0      1      0   7.2500         0       1
1         1       1    1  38.0      1      0  71.2833         1       2
2         1       3    1  26.0      0      0   7.9250         0       1
3         1       1    1  35.0      1      0  53.1000         0       2
4         0       3    0  35.0      0      0   8.0500         0       2